* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 225, 240);
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
}

/* Header Started */
.head {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
}

.head-info {
    padding-top: 100px;

}

.header-font {
    font-size: 40px;

}

.header-btn a {
    text-decoration: none;
    background-color: orangered;
    margin-top: 200px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;

}

/* Header Ended */


/* Donation Start */
.Donation {
    text-align: center;
    padding: 50px;
}

.donate-taka {

    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 40px;
}

.Notun-taka {
    background-color: rgba(194, 135, 135, 0.404);
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid red;
}

.div-clear {
    clear: both;
}

.money-quantity {
    text-align: center;
    padding-bottom: 5px;
    color: gray;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.money-btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 10px 30px;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    border: 0;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Donation Ended */

/* Our Donate plan start */
.Suatainable-development {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;



}

.food {
    height: 170px;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(0, 234, 255, 0.16);
    padding: 10px;
    text-align: justify;
}

.shelter {
    width: 30%;
    height: 170px;
    margin: 0 auto;
    background-color: rgba(152, 123, 152, 0.333);
    padding: 10px;
    text-align: justify;
}

.education {
    width: 30%;
    height: 170px;
    margin: 0 auto;
    background-color: rgba(128, 138, 107, 0.333);
    padding: 10px;
    text-align: justify;
    justify-content: space-between;

}

/* Our Donate plan ended  */


/* Contribution Strat */
.Donation-help {
    display: flex;
    width: 100%;
    padding-top: 80px;
}

.Donation-flood {
    float: left;
    width: 40%;
    padding: 40px;
    text-align: left;
}

.donation-img img {
    float: right;
    width: 60%;
    height: 90%;
    padding-right: 40px;

}

/* Contribution ended */